.SideNav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 240px;
  background-color: #263238;
}

.TopNav {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  background-color: #263238;
  border: 1px solid #344147;
  color: #26c6da;
}

.mainSection {
  margin-left: 240px;
  margin-top: 47px;
}

/* Search Bar
----------------------------*/
/* Initial Styling
-----------------*/
/* Container */
.search-box {
  width: 97%;
  height: 30px;
  position: absolute;
}
/* Input */
.search-box input {
  background: none;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.87);
  color: #26c6da;
  font-size: 16px;
  height: 20px;
  width: 20px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  right: 8px;
  cursor: pointer;
  transition: border-radius 0.4s ease-in-out,
              width 0.4s ease-in-out,
              height 0.4s ease-in-out,
              padding 0.2s ease-in-out,
              right 0.4s ease-in-out;
  transition-delay: 0.4s, 0s, 0s, 0.4s, 0s;
}

/* Button */
.delete {
  background: none;
  border: 0;
  cursor: pointer;
  pointer-events: none;
  height: 35px;
  width: 35px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.delete:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255,255,255,0.87);
  width: 1px;
  height: 15px;
  transform: translate(10px, 6px)
             translate(-50%, -50%)
             rotate(-45deg);
  transition: transform 0.2s;
  transition-delay: 0.4s;
}

.delete:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255,255,255,0.87);
  width: 1px;
  height: 15px;
  transform: translate(-50%, -50%)
             rotate(-45deg)
             scale(0);
  transition: transform 0.3s;
  transition-delay: 0.2s;
}

/* Trigger for clicking the search box
-------------------------------------*/
/* Header */
.header.show {
  max-width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, width 0s;
  transition-delay: 0s, 0.3s;
}
.header.hide {
  max-width: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, width 0s;
  transition-delay: 0s, 0.3s;
}
/* Input */
.search-box input:focus,
.search-box input:valid {
  width: 15%;
  height: 100%;
  right: 0;
  padding: 5px 5px 5px 5px;
  border-radius: 0;
  cursor: text;
  transition-delay: 0s, 0.4s, 0.4s, 0.4s, 0.4s;
}
/* Button */
.search-box input:focus + .delete,
.search-box input:valid + .delete {
  pointer-events: all;
}

.search-box input:focus + .delete:before,
.search-box input:valid + .delete:before {
  transform: translate(0px, 0px)
             translate(-50%, -50%)
             rotate(-45deg);
}

.search-box input:focus + .delete:after,
.search-box input:valid + .delete:after {
  transform: translate(-50%, -50%)
             rotate(45deg)
             scale(1);
  transition-delay: 0.5s;
}

a { 
    right: 10%;
    position: absolute;
    color:#26c6da; 
    text-decoration:none; 
    display:table; 
    //padding:.8rem 0;
}