
<div class="Main"> 

  <mat-toolbar class="TopNav">
     
      <div>
      Canny wuz hur.
      </div>
      
      <a href="#" class="active">
      <span class="fa fa-user"></span>
    </a>
      
       <form class="search-box" >
          <input class="search-box-input" type="text" required="required">
          <button type="reset" class="delete"></button>
           </form>
    </mat-toolbar>
  
<mat-sidenav-container class="SideNav">

  <mat-sidenav class = "SideNav" mode="side" opened>

  </mat-sidenav>

</mat-sidenav-container>




<div class="container-fluid mainSection"> Testing </div>


</div>
